@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Circe-Bold.woff") format("woff");
}

body {
  font-family: "Circe";
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

button {
  font-family: "Circe";
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #1e1e1e;
}

.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.header_form {
  width: 1300px;
  height: 40px;
  display: flex;
  gap: 270px;
}

.header_form_title {
  width: 530px;
  height: 40px;
  display: flex;
  gap: 19px;
}

.header_text {
  padding: 12px 0;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

.header_form_reg {
  width: 440px;
  height: 40px;
  display: flex;
  gap: 19px;
}

.header_form_reg1 {
  padding-top: 10px;
  text-align: center;
  width: 188px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  border-radius: 100px;
  border: 2px solid #7f5af0;
}

.header_form_reg2 {
  padding-top: 10px;
  text-align: center;
  width: 188px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  border-radius: 100px;
  border: 2px solid #2cb67d;
}

.nav {
  margin-top: 30px;
  width: 1300px;
  height: 60px;
  border: 2px solid #404040;
  border-radius: 20px;
  background-color: #191919;
}

.nava {
  display: flex;
  align-items: center;
}

.nava li {
  display: inline-block;
  list-style: none;
  margin-left: 60px;
}

.nava li a {
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
}

.nava li a:hover {
  background-color: #2cb67d;
  transition: 0.3s ease-in-out;
}

.free {
  margin-top: 70px;
  width: 1300px;
  height: 505px;

  display: flex;
}

.free_info_title {
  width: 700px;
  height: 138px;
  font-size: 50px;
  font-weight: 700;
  line-height: 69.5px;
  color: #fff;
}

.free_info_title span {
  color: #7f5af0;
}

.free_info_title span2 {
  color: #2cb67d;
}

.free_info_text {
  margin-top: 50px;
  color: #fff;
  width: 500px;
  height: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.free_info_btn {
  margin-top: 73px;
  width: 348px;
  height: 80px;
  background-color: #7f5af0;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
}

.free_info_btn p {
  text-align: center;
}

.free_graphics {
  margin: 100px 0 0 -330px;
  position: relative;
  width: 540px;
  height: 420px;
  z-index: 1;
}

.free_graphics1 {
  position: absolute;
  width: 510px;
  height: 396px;
}

.free_graphics1 img {
  width: 80%;
  height: 80%;
}

.free_graphics2 {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 459px;
  height: 312px;
}

.free_graphics2 img {
  width: 80%;
  height: 80%;
}

.free_form {
  width: 370px;
  height: 505px;
  background-color: #141414;
  border-radius: 20px;
  border: 1px solid #404040;
  padding: 12px;
  z-index: 10;
}

.free_form_color {
  width: 323px;
  height: 395px;
  background: linear-gradient(#000000, #7f5af0);
  border-radius: 20px;
  border: 1px solid #404040;
}

.free_form_img {
  width: 360px;
  height: 286px;
  margin: 60px 0 0 -60px;
}

.free_form_title {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-top: 11px;
}

.free_form_reviews {
  margin-top: 7px;
  width: 190px;
  height: 30px;
  display: flex;
}

.free_form_icon img {
  width: 100%;
  height: 100%;
}

.free_form_grade {
  margin-left: 7px;
  color: #fff;
}

.free_form_rev {
  margin: 6px 0 0 18px;
  color: #fff;
}

.achiev {
  width: 1300px;
  height: 87px;
  background-color: #191919;
  margin-top: 70px;
  border-radius: 20px;
  border: 1px solid #191919;
  padding: 8px;
}

.achiev_form {
  width: 1180px;
  height: 67px;
  border-radius: 20px;
  background-color: #404040;
  display: flex;
  gap: 13px;
}

.achiev_items {
  display: flex;
  gap: 13px;
  margin: 10px 0 0 27px;
}

.achiev_form_item {
  display: flex;
  gap: 5px;
}

.achiev_form_item_number {
  width: 30px;
  height: 49px;
  border-radius: 7px;
  background-color: #262626;
  font-size: 24px;
  color: #2cb67d;
  text-align: center;
}

.achiev_form_item_number h2 {
  color: #7f5af0;
}

.achiev_form_item_text {
  color: #fff;
  font-size: 14px;
  line-height: 27.2px;
  margin-top: 12px;
}

.possib {
  width: 1200px;
  height: 650px;
  margin-top: 104px;
}

.possib_title {
  width: 1000px;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.possib_title h2 {
  color: #2cb67d;
}

.possib_box {
  width: 1200px;
  height: 508px;
  margin-top: 88px;
  padding-top: 45px;
}

.possib_info {
  width: 1200px;
  height: 418px;
  background-color: #191919;
  padding: 104px 156px 224px 713px;
  border-radius: 20px;
}

.possib_info_box {
  width: 431px;
  height: 228px;
}

.possib_info_box_title {
  width: 431px;
  height: 90px;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}

.possib_info_box_text {
  width: 411px;
  height: 93px;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  margin-top: 44px;
}

.possib_image {
  width: 524px;
  height: 508px;
  border-radius: 20px;
  border: 3px solid #404040;
  margin: -463px 0 0 100px;
}

.possib_image_form {
  width: 410px;
  height: 297px;
  margin: 105px 57px;
}

.problems {
  width: 1200px;
  height: 688px;
  margin-top: 142px;
}

.problems_title {
  width: 1200px;
  height: 58px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.problems_title h2 {
  color: #2cb67d;
}

.problems_box {
  width: 1200px;
  height: 576px;
  background-color: #191919;
  border-radius: 20px;
  margin-top: 58px;
  padding: 48px;
}

.problems_box_btns {
  width: 1100px;
  height: 50px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.problems_box_btn {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid #7f5af0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.problems_box_btn:hover {
  border: none;
  background-color: #2cb67d;
  transition: 0.3s ease-in;
}

.problems_info {
  width: 1077px;
  height: 358px;
  display: flex;
  gap: 99px;
  margin-top: 80px;
}

.problems_info_form_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 45px;
  color: #fff;
}

.problems_info_form_text1 {
  color: #7f5af0;
  font-size: 20px;
  line-height: 21px;
  margin-top: 54px;
}

.problems_info_form_text1 p1 {
  color: #fff;
}

.problems_info_form_text2 {
  color: #2cb67d;
  font-size: 20px;
  line-height: 21px;
  margin-top: 33px;
}

.problems_info_form_text2 p1 {
  color: #fff;
}

.plan {
  width: 1200px;
  height: 560px;
  margin-top: 135px;
}

.plan_title {
  width: 1200px;
  height: 58px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.plan_title h2 {
  color: #2cb67d;
}

.plan_box {
  width: 1200px;
  height: 465px;
  display: flex;
  gap: 60px;
  margin-top: 41px;
}

.plan_box_main {
  width: 535px;
  height: 465px;
}

.plan_box_main_item {
  width: 535px;
  height: 100px;
  display: flex;
  gap: 41px;
  margin-top: 47px;
}

.plan_box_main_item_icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid #7f5af0;
  text-align: center;
  padding-top: 4px;
  color: #fff;
  font-size: 24px;
}

.plan_box_main_item_icon:hover {
  border: none;
  background-color: #2cb67d;
  transition: 0.3s ease-in-out;
}

.plan_box_main_item_icon_info {
  width: 430px;
  height: 100px;
  color: #fff;
}

.plan_box_main_item_icon_info p {
  margin-top: 10px;
  font-size: 16px;
}

.plan_form {
  width: 605px;
  height: 465px;
  background-color: #191919;
  padding: 57px 23px 57px 23px;
  border-radius: 20px;
}

.partners {
  width: 1200px;
  height: 245px;
  margin-top: 170px;
}

.partners_title {
  width: 1200px;
  height: 58px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.partners_title h2 {
  color: #2cb67d;
}

.partners_form {
  width: 1200px;
  height: 82px;
  display: flex;
  gap: 70px;
  align-items: center;
  margin-top: 110px;
}

.worker {
  width: 1200px;
  height: 472px;
  margin-top: 200px;
}

.worker_title {
  width: 1200px;
  height: 58px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
}

.worker_title h2 {
  color: #2cb67d;
}

.worker_form {
  width: 1200px;
  height: 353px;
  margin-top: 65px;
  display: flex;
  gap: 32px;
}

.worker_form_item {
  width: 234px;
  height: 353px;
  background-color: #191919;
  border-radius: 20px;
}

.worker_form_item_icon2 {
  width: 111px;
  height: 111px;
  background-color: #7f5af0;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  margin: 54px auto;
}

.worker_form_item_title {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 36.75px;
  color: #fff;
  margin: 0 30px 0 30px;
}

.worker_form_item:first-child {
  width: 404px;
  height: 353px;
}

.worker_form_item_icon {
  width: 71px;
  height: 71px;
  background-color: #2cb67d;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  margin: 34px 0 0 34px;
}

.worker_form_item_info {
  margin: 37px 0 0 34px;
}

.worker_form_item_info_title {
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  line-height: 36.75px;
}

.worker_form_item_info_text {
  margin-top: 21px;
  width: 311px;
  height: 93px;
  color: #fff;
  line-height: 21.4px;
}

.try {
  width: 914px;
  height: 260px;
  margin-top: 150px;
}

.try_title {
  width: 630px;
  height: 54px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.try_title h2 {
  color: #2cb67d;
}

.try_text {
  color: #fff;
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
}

.try_btn {
  background-color: #2cb67d;
  border-radius: 100px;
  width: 348px;
  height: 80px;
  margin: 56px auto;
  padding-top: 20px;
}

.try_btn_text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.footer {
  width: 1200px;
  height: 630px;
  background-color: #191919;
  margin-top: 70px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.footer_logo {
  margin: 56px 0 0 35px;
}

.footer_contacts {
  width: 1110px;
  height: 29px;
  display: flex;
  gap: 70px;
  margin: 72px auto 0;
}

.footer_contacts_item_text {
  color: #949494;
  font-weight: 700;
  font-size: 18px;
}

.footer_contacts_item_text p1 {
  color: #fff;
}

.line1 {
  width: 1120px;
  border: 1px solid #3c3c3c;
  margin: 25px auto 0;
}

.footer_office {
  width: 1110px;
  height: 29px;
  display: flex;
  gap: 70px;
  margin: 25px auto 0;
}

.footer_office_item_text {
  color: #949494;
  font-weight: 700;
  font-size: 18px;
}

.footer_office_item_text p1 {
  color: #fff;
}

.line2 {
  width: 1120px;
  border: 1px solid #3c3c3c;
  margin: 25px auto 0;
}

.footer_services {
  margin: 52px auto 0;
  width: 1120px;
  height: 168px;
  display: flex;
  gap: 70px;
}

.footer_services_item h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 6px;
}

.footer_services_item p {
  font-size: 14px;
  color: #fff;
  line-height: 23px;
}

.footer_que {
  width: 1120px;
  height: 52px;
  display: flex;
  margin: 0 auto;
}

.footer_form {
  width: 870px;
  height: 52px;
  display: flex;
  gap: 96px;
}

.footer_que_item h1 {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-top: 24px;
}

.footer_que_item:nth-child(2) {
  margin-right: 70px;
}

.footer_que_item:nth-child(3) {
  margin-right: -20px;
}

.footer_que_icons {
  width: 250px;
  height: 52px;
  display: flex;
  gap: 10px;
}

.footer_que_item_icon {
  width: 52px;
  height: 52px;
  background-color: #7f5af0;
  border-radius: 50%;
}

.footer_que_item_icon img {
  width: 100%;
  height: 100%;
}
